# Aula 3: SQL - Exercícios

### Case Olist

A Olist é uma loja de departamentos que participa dos principais marketplaces do país:  Mercado Livre, Walmart.com, Americanas.com, Submarino, Casas Bahia entre outros. Mais informações podem ser encontradas [aqui](https://blog.olist.com/olist-chega-para-facilitar-a-vida-de-quem-quer-vender-na-internet-e-em-grandes-varejistas/).

![](https://ensinandomaquinasblog.files.wordpress.com/2020/11/f1.png?w=1024)
![](https://i.imgur.com/Jory0O3.png)

Abaixo, segue uma descrição de cada uma das tabelas contidas no arquivo `salesOlist.db` e em qual arquivo as informações se encontram. Também podem ser conferidas as informações sobre cada coluna.
 - **Customers**: guarda a cidade, o CEP e o estado do consumidor. Chave: customer_id.
  - Colunas:
    - **customer_id:** cada pedido possui um único `customer_id`;
    - **customer_unique_id:** identificador único de cada consumidor;
    - **customer_zip_code_prefix:** primeiros 5 dígitos do CEP do consumidor;
    - **customer_city:** cidade onde o consumidor se encontra; 
    - **customer_state:** estado onde o consumidor se encontra.
 - **Geolocation**: guarda informações de cidades tais como o CEP, latitude, longitude, nome e estado;
  - Colunas:
    - **geolocation_zip_code_prefix:** 5 primeiros dígitos do local;
    - **geolocation_lat:** latitude do local;
    - **geolocation_lng:** longitude do local;
    - **geolocation_city:** cidade onde se encontra o local; e
    - **geolocation_state:** estado onde se encontra o local.
 - **OrderItems**: guarda informações sobre quais produtos foram vendidos em cada pedido, seu valor, seu vendedor, preço de venda e preço de frete.
  - Colunas:
    - **order_id:** identificador único dos pedidos;
    - **order_item_id:** identificador sequencial indicando a quantidade de produtos por pedido;
    - **product_id:** identificador único de cada produto;
    - **seller_id:** identificador único de cada vendedor;
    - **price:** preço cobrado por produto; e
    - **freight_value:** preço cobrado por frete.
 - **OrderPayments**: guarda informações sobre o pagamento, parcelas e o valor pago por cada pedido.
  - Colunas:
    - **order_id:** identificador único de cada pedido;
    - **payment_sequential**;
    - **payment_type:** método escolhido para o pagamento;
    - **payment_installments:** número de parcelas; e
    - **payment_value:** total pago.
 - **OrderReviews**: guarda informações sobre *reviews* do pedido.
  - Colunas:
    - **review_id:** identificador único de cada avaliação;
    - **order_id:** identificador único de cada pedido;
    - **review_score:** nota dada ao pedido;
    - **review_comment_title:** título do comentário;
    - **review_comment_message:** comentário sobre o pedido;
    - **review_creation_date:** data do envio do questionário de satisfação; e
    - **review_answer_timestamp:** data da resposta ao questionário de satisfação .
 - **Orders**: guarda informações sobre o qual o consumidor efetuou a compra, o *status* do pedido, data da compra, datas de entrega (estimada e efetiva)
  - Colunas:
    - **order_id:** identificador único de cada pedido;
    - **customer_id:**; 
    - **order_status:** chave para a tabela `Customers` (cada pedido tem uma única chave);
    - **order_purchase_timestamp:** *timestamp* para a data do pedido;
    - **order_approved_at:** *timestamp* para a aprovação do pagamento;
    - **order_delivered_carrier_date:** *timestamp* para a data de postagem do pedido;
    - **order_delivered_customer_date:** data da entrega do pedido; e
    - **order_estimated_delivery_date:** data estimada da entrega.
 - **Products**: guarda informações sobre sobre a categoria e tamanho dos produtos vendidos. 
  - Colunas:
    - **product_id:** identificador único de cada pedido;
    - **product_category_name:** nome da categoria do produto;
    - **product_name_lenght:** comprimento do nome do produto;
    - **product_description_lenght:** comprimento da descrição do produto;
    - **product_photos_qty:** quantidade de fotos do produto;
    - **product_weight_g:** massa do produto em gramas;
    - **product_length_cm:** comprimento do produto em cm;
    - **product_height_cm:** altu e
    - product_width_cm.
 - **Sellers**: guarda informações do vendedor, tais como a cidade, estado e o código postal
  - Colunas:
    -**seller_id:** identificador único do vendedor;
    - **seller_zip_code_prefix:** guarda informações dos 4 primeiros dígitos do CEP do vendedor;
    - **seller_city:** cidade do vendedor; e
    - **seller_state:** estado do vendedor.
 - **QualifiedLeads**: informações de *leads* da Olist.
  - Colunas:
    - **mql_id:** identificador único da *lead*;
    - **first_contact_date:** data do primeiro contato;
    - **landing_page_id:** página que adquiriu a *lead*; e 
    - **origin:** tipo da mídia que adquriu a *lead*.
 - **ClosedDeals**: informações de negócios com vendedores 
    - **mql_id:** identificador único da lead;
    - **seller_id:** identificador único do vendedor;
    - **sdr_id:** identificador único do representante de vendas e desenvolvimento;
    - **sr_id:** identificador único do representante de vendas;
    - **won_date:** data do fechamento do contrato;
    - **business_segment:** segmento do *lead*; 
    - **lead_type:** tipo da *lead* (*online*, *offline*, indústria, etc);
    - **lead_behaviour_profile:** 
    - **has_company:**: o *lead* tem uma companhia (documentada)?
    - **has_gtin:** a companhia possi código de barras internacional para seus produtos?
    - **average_stock:** tamanho do estoque declarado;
    - **business_type:** tipo de negócio (revendedor/fabricante/etc);
    - **declared_product_catalog_size:** tamanho do catálogo declarado; e
    - **declared_monthly_revenue:** renda mensal declarada.

In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect('salesOlist.db')
cursor = con.cursor()
cursor.execute('SELECT name FROM sqlite_master WHERE type="table" ORDER BY name')
cursor.fetchall()

[('ClosedDeals',),
 ('Customers',),
 ('Geolocation',),
 ('OrderItems',),
 ('OrderPayments',),
 ('OrderReviews',),
 ('Orders',),
 ('Products',),
 ('QualifiedLeads',),
 ('Sellers',)]

## Mostre 5 linhas da tabela `Customers`

In [3]:
query = 'SELECT * FROM Customers LIMIT 5'
pd.read_sql_query(query, con)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

## Mostre 5 linhas da tabela `Geolocation`

In [4]:
query = 'SELECT * FROM Geolocation LIMIT 5'
pd.read_sql_query(query, con)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,01037,-23.545621,-46.639292,sao paulo,SP
1,01046,-23.546081,-46.644820,sao paulo,SP
2,01046,-23.546129,-46.642951,sao paulo,SP
3,01041,-23.544392,-46.639499,sao paulo,SP
4,01035,-23.541578,-46.641607,sao paulo,SP

## Crie uma tabela nova juntando as tabelas `Customers` e `Geolocation`

In [5]:
query = '''
SELECT * 
FROM Customers c
JOIN Geolocation g 
ON c.customer_zip_code_prefix = g.geolocation_zip_code_prefix
LIMIT 10
'''
pd.read_sql_query(query, con)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,05b005e82f3f2dcc41b5504f00484e50,3ef8c1513fc80fb905ccd8d57da5e9b8,1037,sao paulo,SP,01037,-23.545621,-46.639292,sao paulo,SP
1,19ee522d0dd140702062bb89e4820e19,8e7b6c489f1fe794c0ca58c80868a24b,1037,sao paulo,SP,01037,-23.545621,-46.639292,sao paulo,SP
2,6519f59a7687a4661f7c8a7e24f28f94,324ce23e08a1768007118a11836ea7d3,1037,sao paulo,SP,01037,-23.545621,-46.639292,sao paulo,SP
3,0c65144301b9eb1274a016aedd1248cb,0894227c11f8b1ac819ff943c6c0a612,1046,sao paulo,SP,01046,-23.546081,-46.644820,sao paulo,SP
4,149fa0076bccc504ba9a6464a9ad7906,588d9c533b57582a00dce71dbda73fc3,1046,sao paulo,SP,01046,-23.546081,-46.644820,sao paulo,SP
5,18df310319efd9086e54391a5cc4fb82,2503bd9d9031e8c9297d1b43d0c1711a,1046,sao paulo,SP,01046,-23.546081,-46.644820,sao paulo,SP
6,19e5f42aafd83ee6d8a1b6d5478cc59b,d3a8a767ea6c6ecea1af7bcde1ba1248,1046,sao paulo,SP,01046,-23.546081,-46.644820,sao paulo,SP
7,3258445d69ee63eac4af6749b70a0305,dc0654eb4b744b2c238dced422fe1d54,1046,sao paulo,SP,01046,-23.546081,-46.644820,sao paulo,SP
8,3cabb118fc8b876a16ae0b50bc277959,e1522db691cee70a610d98e7f6ea7ec5,1046,sao paulo,SP,01046,-23.546081,-46.644820,sao paulo,SP
9,4b6cc748c9b98d12cef260aa6d33d5b7,efba941329ad1c804de0de92ebe0d891,1046,sao paulo,SP,01046,-23.546081,-46.644820,sao paulo,SP

## Informe todas as colunas da tabela `Customers` e adicione uma coluna (`region`) com a seguinte regra:

- Se o `customer_state` for SP, MG, RJ ou ES então region será "Sudeste", do contrário será "Outro"

In [6]:
query = '''
PRAGMA table_info(Customers)
'''
pd.read_sql_query(query, con)

   cid                      name     type  notnull dflt_value  pk
0    0               customer_id     TEXT        0       None   0
1    1        customer_unique_id     TEXT        0       None   0
2    2  customer_zip_code_prefix  INTEGER        0       None   0
3    3             customer_city     TEXT        0       None   0
4    4            customer_state     TEXT        0       None   0

In [3]:
query = '''
SELECT *, 
        CASE 
            WHEN customer_state IN ('SP', 'MG', 'RJ', 'ES') THEN "Sudeste"            
            ELSE "Outro"
        END AS region
    FROM Customers
'''
df =pd.read_sql_query(query, con)
df.head(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,region
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,Sudeste
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,Sudeste
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,Sudeste
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,Sudeste
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,Sudeste
5,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,89254,jaragua do sul,SC,Outro
6,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,4534,sao paulo,SP,Sudeste
7,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,35182,timoteo,MG,Sudeste
8,5adf08e34b2e993982a47070956c5c65,1175e95fb47ddff9de6b2b06188f7e0d,81560,curitiba,PR,Outro
9,4b7139f34592b3a31687243a302fa75b,9afe194fb833f79e300e37e580171f22,30575,belo horizonte,MG,Sudeste

In [21]:
# check de sanidade
pd.crosstab(df['customer_state'], df['region'])

region          Outro  Sudeste
customer_state
AC                 81        0
AL                413        0
AM                148        0
AP                 68        0
BA               3380        0
CE               1336        0
DF               2140        0
ES                  0     2033
GO               2020        0
MA                747        0
MG                  0    11635
MS                715        0
MT                907        0
PA                975        0
PB                536        0
PE               1652        0
PI                495        0
PR               5045        0
RJ                  0    12852
RN                485        0
RO                253        0
RR                 46        0
RS               5466        0
SC               3637        0
SE                350        0
SP                  0    41746
TO                280        0

## Crie uma tabela contendo as seguintes colunas:

- customer_unique_id
- order_id
- payment_type
- payment_value

In [8]:
query = '''
SELECT 
c.customer_unique_id, 
o.order_id,
op.payment_type,
op.payment_value
FROM Customers c
INNER JOIN Orders o ON o.customer_id = c.customer_id
INNER JOIN OrderPayments op ON op.order_id = o.order_id
'''
pd.read_sql_query(query, con)

,customer_unique_id,order_id,payment_type,payment_value
0,861eff4711a542e4b93843c6dd7febb0,00e7ee1b050b8499577073aeb2a297a1,credit_card,146.87
1,290c77bc529b7ac935b93aa66c333dc3,29150127e6685892b6eab3eec79f59c7,credit_card,335.48
2,060e732b5b29e8181a18229c7b0b2b5e,b2059ed67ce144a36e2aa97d2c9e9ad2,credit_card,157.73
3,259dac757896d24d7702b9acbbff3f3c,951670f92359f4fe4a63112aa7306eba,credit_card,173.30
4,345ecd01c38d18a9036ed96c73b8d066,6b7d50bd145f6fc7f33cebabd7e49d0f,credit_card,252.25
...,...,...,...,...
103881,1a29b476fee25c95fbafc67c5ac95cf8,6760e20addcf0121e9d58f2f1ff14298,credit_card,88.78
103882,d52a67c98be1cf6a5c84435bd38d095d,9ec0c8947d973db4f4e8dcf1fbfa8f1b,credit_card,129.06
103883,e9f50caf99f032f0bf3c55141f019d99,fed4434add09a6f332ea398efd656a5c,credit_card,56.04
103884,73c2643a0a458b49f58cea58833b192e,e31ec91cea1ecf97797787471f98a8c2,credit_card,711.07
103885,84732c5050c01db9b23e19ba39899398,28db69209a75e59f20ccbb5c36a20b90,credit_card,21.77

## Crie uma tabela contendo as seguintes colunas:

- landing_page_id
- origin
- lead_type
- seller_id
- seller_city
- seller_state

In [9]:
query = '''
SELECT 
ql.landing_page_id, 
ql.origin,
cd.lead_type,
s.seller_id,
s.seller_city,
s.seller_state
FROM QualifiedLeads ql
INNER JOIN ClosedDeals cd ON cd.mql_id = ql.mql_id
INNER JOIN Sellers s ON s.seller_id = cd.seller_id
'''
pd.read_sql_query(query, con)

,landing_page_id,origin,lead_type,seller_id,seller_city,seller_state
0,b48ec5f3b04e9068441002a19df93c6c,organic_search,online_medium,2c43fb513632d29b3b58df74816f1b06,belo horizonte,MG
1,1ceb590cd1e00c7ee95220971f82693d,organic_search,online_big,612170e34b97004b3ba37eae81836b4c,novo hamburgo,RS
2,a0fbc0263cb98bdb0d72b9f9f283a172,unknown,industry,ed8cb7b190ceb6067227478e48cf8dde,santos,SP
3,40dec9f3d5259a3d2dbcdab2114fae47,organic_search,online_medium,1c742ac33582852aaf3bcfbf5893abcf,belo horizonte,MG
4,b76ef37428e6799c421989521c0e5077,unknown,offline,44ed138eca6214d572ce1d813fb0049b,canoas,RS
...,...,...,...,...,...,...
375,73f31a40697cc90a86c1273563ac230e,other,online_big,f46490624488d3ff7ce78613913a7711,guarulhos,SP
376,b76ef37428e6799c421989521c0e5077,organic_search,None,7c9130f5f3729edd32aa059141d92484,garca,SP
377,c494978688ccf66ad9fad3d6a3338c22,email,online_medium,33dd941c27854f7625b968cc6195a552,vila velha,ES
378,58326e62183c14b0c03085c33b9fdc44,social,online_medium,c70a353f02429c00775a46a75fb787da,sao paulo,SP
379,22c29808c4f815213303f8933030604c,organic_search,online_small,4fe2f67634d00c021aa01f96b6f2d68e,maringa,PR

## Extra: Armazene as tabelas isoladamente em variáveis no python e refaça os comandos utilizando pandas

In [34]:
query = 'SELECT * FROM Customers LIMIT 1000'
df_customers = pd.read_sql_query(query, con)

query = 'SELECT * FROM Geolocation LIMIT 1000'
df_geo = pd.read_sql_query(query, con)

query = 'SELECT * FROM Orders LIMIT 5000'
df_orders = pd.read_sql_query(query, con)

query = 'SELECT * FROM OrderPayments LIMIT 5000'
df_op = pd.read_sql_query(query, con)

query = 'SELECT * FROM QualifiedLeads LIMIT 1000'
df_ql = pd.read_sql_query(query, con)

query = 'SELECT * FROM ClosedDeals LIMIT 1000'
df_cd = pd.read_sql_query(query, con)

query = 'SELECT * FROM Sellers LIMIT 1000'
df_s = pd.read_sql_query(query, con)

1.3 Crie uma tabela nova juntando as tabelas Customers e Geolocation

In [45]:
df_customers['customer_zip_code_prefix'].astype('str').str.len().unique()

array([5, 4], dtype=int64)

In [11]:

df_customers['customer_zip_code_prefix'] = df_customers['customer_zip_code_prefix'].astype('str').str.zfill(5)
df_geo['geolocation_zip_code_prefix'] = df_geo['geolocation_zip_code_prefix'].astype('str')

pd.merge(df_customers, df_geo, left_on='customer_zip_code_prefix', right_on='geolocation_zip_code_prefix')

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,50814dd40158d233103f675c340c68b1,b3bbe51a0caf36d05239cdb5124a2421,01008,sao paulo,SP,01008,-23.544255,-46.634639,sao paulo,SP
1,50814dd40158d233103f675c340c68b1,b3bbe51a0caf36d05239cdb5124a2421,01008,sao paulo,SP,01008,-23.545341,-46.635587,sao paulo,SP
2,50814dd40158d233103f675c340c68b1,b3bbe51a0caf36d05239cdb5124a2421,01008,sao paulo,SP,01008,-23.545450,-46.635657,sao paulo,SP
3,50814dd40158d233103f675c340c68b1,b3bbe51a0caf36d05239cdb5124a2421,01008,sao paulo,SP,01008,-23.545261,-46.635546,sao paulo,SP
4,50814dd40158d233103f675c340c68b1,b3bbe51a0caf36d05239cdb5124a2421,01008,sao paulo,SP,01008,-23.548014,-46.637097,sao paulo,SP
5,50814dd40158d233103f675c340c68b1,b3bbe51a0caf36d05239cdb5124a2421,01008,sao paulo,SP,01008,-23.544813,-46.635178,sao paulo,SP
6,50814dd40158d233103f675c340c68b1,b3bbe51a0caf36d05239cdb5124a2421,01008,sao paulo,SP,01008,-23.546357,-46.636176,sao paulo,SP
7,50814dd40158d233103f675c340c68b1,b3bbe51a0caf36d05239cdb5124a2421,01008,sao paulo,SP,01008,-23.548014,-46.637097,são paulo,SP
8,50814dd40158d233103f675c340c68b1,b3bbe51a0caf36d05239cdb5124a2421,01008,sao paulo,SP,01008,-23.544924,-46.635281,sao paulo,SP
9,50814dd40158d233103f675c340c68b1,b3bbe51a0caf36d05239cdb5124a2421,01008,sao paulo,SP,01008,-23.544695,-46.635081,sao paulo,SP
10,d829dcbbc1ddabd3a91c20b64e2ce5d8,5c3a15e958c7a36e722408cd2ce8b34e,01044,sao paulo,SP,01044,-23.545751,-46.641327,sao paulo,SP
11,d829dcbbc1ddabd3a91c20b64e2ce5d8,5c3a15e958c7a36e722408cd2ce8b34e,01044,sao paulo,SP,01044,-23.544896,-46.642020,são paulo,SP
12,d829dcbbc1ddabd3a91c20b64e2ce5d8,5c3a15e958c7a36e722408cd2ce8b34e,01044,sao paulo,SP,01044,-23.545627,-46.641410,sao paulo,SP
13,d829dcbbc1ddabd3a91c20b64e2ce5d8,5c3a15e958c7a36e722408cd2ce8b34e,01044,sao paulo,SP,01044,-23.547277,-46.639924,sao paulo,SP
14,d829dcbbc1ddabd3a91c20b64e2ce5d8,5c3a15e958c7a36e722408cd2ce8b34e,01044,sao paulo,SP,01044,-23.544475,-46.642441,sao paulo,SP
15,d829dcbbc1ddabd3a91c20b64e2ce5d8,5c3a15e958c7a36e722408cd2ce8b34e,01044,sao paulo,SP,01044,-23.544689,-46.642224,sao paulo,SP
16,d829dcbbc1ddabd3a91c20b64e2ce5d8,5c3a15e958c7a36e722408cd2ce8b34e,01044,sao paulo,SP,01044,-23.544475,-46.642441,sao paulo,SP
17,d829dcbbc1ddabd3a91c20b64e2ce5d8,5c3a15e958c7a36e722408cd2ce8b34e,01044,sao paulo,SP,01044,-23.544572,-46.642332,sao paulo,SP
18,d829dcbbc1ddabd3a91c20b64e2ce5d8,5c3a15e958c7a36e722408cd2ce8b34e,01044,sao paulo,SP,01044,-23.546454,-46.640845,sao paulo,SP
19,d829dcbbc1ddabd3a91c20b64e2ce5d8,5c3a15e958c7a36e722408cd2ce8b34e,01044,sao paulo,SP,01044,-23.547277,-46.639924,sao paulo,SP

1.4  Informe todas as colunas da tabela Customers e adicione uma coluna (region) com a seguinte regra:
Se o customer_state for SP, MG, RJ ou ES então region será "Sudeste", do contrário será "Outro"

In [12]:
df_customers.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [13]:
lst_UFs = ['SP', 'MG', 'RJ', 'ES']
df_customers['region'] = df_customers['customer_state'].apply(lambda x: 'Sudeste' if x in lst_UFs else 'Outro')
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,region
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,Sudeste
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP,Sudeste
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP,Sudeste
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP,Sudeste
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,Sudeste

Outra forma de fazer usando numpy

In [47]:
# Outra forma de fazer usando numpy
import numpy as np

df_customers['region'] = np.where(df_customers['customer_state'].isin(lst_UFs), 'Sudeste', 'Outro')

In [48]:
pd.crosstab(df_customers['customer_state'], df_customers['region'])

region          Outro  Sudeste
customer_state
AC                  1        0
AL                  6        0
AM                  3        0
AP                  1        0
BA                 29        0
CE                 14        0
DF                 23        0
ES                  0       22
GO                 24        0
MA                  4        0
MG                  0      119
MS                  7        0
MT                  9        0
PA                  6        0
PB                  2        0
PE                 16        0
PI                  4        0
PR                 46        0
RJ                  0      143
RN                  3        0
RO                  2        0
RS                 52        0
SC                 39        0
SE                  1        0
SP                  0      422
TO                  2        0

1.5  Crie uma tabela contendo as seguintes colunas:

customer_unique_id
order_id
payment_type
payment_value

In [36]:

# df_orders.info()
# df_op.info()
# df_customers.info()
(
pd.merge(df_customers, df_orders, on='customer_id')
.merge(df_op, on='order_id')
[['customer_unique_id','order_id','payment_type','payment_value']]
)

,customer_unique_id,order_id,payment_type,payment_value
0,94e89532396b3c02f648b2bc7f93f528,4a5cc9b4e332e03d76bf553a7f2fa5d3,credit_card,176.78
1,d215654948fc3ce8f8010cc12a8c843e,3edc1d26d1bd92c3c56e12bf85979f87,credit_card,389.16
2,f152faf30f85d9b5784cc9a72611a810,d288e92a6be123f2e77f34fafd902464,credit_card,141.35
3,b4b26faae91bc1b8f9458d29bc3c200c,a0ce637ae9c3e3dedcf9dea3715b7331,credit_card,143.04
4,589ee29a3decf9bd5cd8492da02efb2e,a082f140d70dd20b4e2d7538557b5946,credit_card,127.90

1.6 Crie uma tabela contendo as seguintes colunas:

landing_page_id
origin
lead_type
seller_id
seller_city
seller_state

In [43]:

# df_ql.info()
# df_cd.info()
# df_s.info()
(
pd.merge(df_ql, df_cd, on='mql_id')
.merge(df_s, on='seller_id')
[['landing_page_id','origin','lead_type','seller_id','seller_city','seller_state']]
)

,landing_page_id,origin,lead_type,seller_id,seller_city,seller_state
0,a0fbc0263cb98bdb0d72b9f9f283a172,unknown,industry,ed8cb7b190ceb6067227478e48cf8dde,santos,SP
1,007f9098284a86ee80ddeb25d53e0af8,paid_search,online_medium,87d73636a3acf123e842bb890a4db036,nhandeara,SP
2,1ceb590cd1e00c7ee95220971f82693d,paid_search,online_medium,9e7c5f4d7770eab65738cca38f9efccf,sao paulo,SP
3,b76ef37428e6799c421989521c0e5077,unknown,online_big,7d13fca15225358621be4086e1eb0964,ribeirao preto,SP
4,22c29808c4f815213303f8933030604c,organic_search,industry,e819bcfade7b5d88a27325eb6cfd62c5,guarulhos,SP
5,40dec9f3d5259a3d2dbcdab2114fae47,paid_search,industry,556a6409838156ea299c9d1f9e2dde43,curitiba,PR
6,0b9430edcbf2d9a95148c806af2b6699,unknown,online_medium,8b181ee5518df84f18f4e1a43fe07923,goioere,SP
7,0b9430edcbf2d9a95148c806af2b6699,organic_search,industry,d594982fd877af63ace38ea1fca27c76,sao paulo,SP
8,b76ef37428e6799c421989521c0e5077,unknown,online_medium,dedcab67899479e4ea5dcc4eba47f587,jaragua do sul,SC
9,88740e65d5d6b056e0cda098e1ea6313,social,online_big,2d42ebcda99fd55f6f4bc2f1ca035d50,uruacu,GO
10,b76ef37428e6799c421989521c0e5077,unknown,online_medium,2646baaf662d4d92ac48f047e35db92d,sao paulo,SP
11,22c29808c4f815213303f8933030604c,organic_search,online_small,dc64d75cc406bb0697be983831430e60,belo horizonte,MG
12,4aab772aeb9833c170d8ea5413e02eac,paid_search,online_big,134285d1f41da5c13a756ee8142c8a4e,sao paulo,SP
13,58326e62183c14b0c03085c33b9fdc44,social,online_medium,e9e446d01bd10a97a8ffcfc4a3a20cb2,sao paulo,SP
14,b76ef37428e6799c421989521c0e5077,unknown,offline,044668ccd5316b12a7cf0d54a156e3e9,osasco,SP
15,b76ef37428e6799c421989521c0e5077,unknown,online_beginner,a663d9c3797e90eac99ff60939416a56,sao paulo,SP